parameters:
	ignoreErrors:
		- '#Method WyriHaximus\\Monolog\\Processors\\ToContextProcessor::__invoke\(\) should return array\{message:#'
	ergebnis:
		classesAllowedToBeExtended:
			- Monolog\Handler\AbstractHandler

includes:
	- ../../vendor/wyrihaximus/test-utilities/rules.neon
